/* chatcss.css */
/* BDC SIDE BAR */
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: white;
    color: black;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color:  rgb(10, 176, 205);
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  /* BDC CARDS */
  .custombutton{
  border-color: transparent;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 90%;
    max-height: 50%;
    padding-left: 12%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  div #hide-content{
    display: none;
  }
  /* BDC TOP BAR */
  .topbar {
    margin: 0;
    padding: 0;
    width: 100%;
   
    background-color: #f1f1f1;
    position:relative;
    height: 56px;
   
    overflow: auto;
  }
  
  .topbar a {
    display: block;
    color: black;
    
    padding-top: 15px;
    height: 56px;
    text-decoration:none;
    display:inline;
    text-align: center;
    min-width: 150px;
    float: right;
  }
  
  
  /* Active/current link */
  .topbar a.active {
    background-color: white;
    color: black;
  }
  
  /* Links on mouse-over */
  .topbar a:hover:not(.active) {
    background-color:  rgb(10, 176, 205);
    color: white;
  }
  
  