{% extends 'base.html' %}
<!-- chat.html -->
{% load static %}

{%block css%}

{%endblock css%}

        {% block quescards%}
        <!-- search + cards -->
        <div class="container">
            <div class = "container" style="margin-left: 7.5%; margin-right: 7%;">
                <div class ="row">
                    <div class = "card mb-3">
                        <div style ="margin-top: 5%;"><b>Add your question here</b>
                        </div>
                        <!-- search -->
                        <form method= "POST" enctype = "multipart/form-data" name="question_post" action ="{% url 'article' %}" >
                        {% csrf_token %}
                        <div class ="input-group mb-3">
                            <div class="col-md-6 pt-4"> 
                                <input type="text" name="question_title" class="form-control rounded" placeholder="title">
                            </div>
                        </div>
                        <div class="input-group  mb-3">
                            <div class ="col-md-6 pt-4">
                                <input type="text" name ="question_body" class="form-control rounded" placeholder="Add Questions Here" />
                            </div>
                        </div>
                        <div class = "input-group mb-3">
                            <input type="file" id ="question_image" name ="image">
                        </div>
                        <div class="input-group mb-3">
                            <button type="submit" name="post_question" class="btn" style = "background-color:  rgb(10, 176, 205);; color: white;">post</button>
                        </div>
                            <!-- <div class="file-upload-wrapper pt-4 container mb-3" >
                                <input type="file" id="input-file-max-fs" class="file-upload" data-height="500" data-max-file-size="2M" />
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- cards -->
            <div class = "container" style="margin-left: 7.5%; margin-right: 7%;">
                <!-- row1 -->
                <div class="row" >
                    <h3>Queries</h3>
                    {% for question in questions %}
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-4">
                                    <img src="{{question.8.url}}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{question.0}}</h5><p class="card-text"><small class="text-muted">posted by <a href="#">{{question.2}}</a></small><p>
                                        <p class="card-text">{{question.1}}</p>
                                        <p class="card-text"><small class="text-muted">{{question.3}}</small></p>
                                        <button class="custombutton" onclick="myFunction()">view</button>
                                        <form method = POST action="{% url 'article' %}">
                                            {%csrf_token%}
                                            <button class="btn"><i class="fa fa-share"></i></button>
                                            <button class="btn"><i class="fa fa-solid fa-heart-o"></i></button>
                                            <button class="btn" name ="upvote" value ='{{question.4}}'><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button><span>{{question.5}}</span>
                                            <button class="btn" name="downvote" value="{{question.4}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button><span>{{question.6}}</span>
                                        </form>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="row no-gutters align-items-center">
                                {%if isfarmer %}
                                <form method= "POST" name ="answer_post" action ="{% url 'article' %}">
                                {%csrf_token%}
                                    <div class="input-group pt-2 mb-3"  >
                                        <input type="text" name ="answer_text" class="form-control rounded" placeholder="give your answers here" aria-label="Search" aria-describedby="search-addon" />
                                        <button type="submit" name="post_answer" value ="{{question.4}}" class="btn" style = "background-color:  rgb(10, 176, 205);; color: white;">post</button>
                                    </div>
                                </form>
                                {% endif %}
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Farmers answers </h5>
                                        {%for answer in question.7 %}
                                        <p><a href="#">{{answer.0}} </a> <small class="text-muted">   {{answer.1}}</small></p>
                                        <p class="card-text">{{answer.2}} </p>
                                        <form method="POST" action="{% url 'article' %}">
                                        {%csrf_token%}
                                        <button class="btn" ><i class="fa fa-share"></i></button>
                                        <button class="btn" name ="ans_upvote" value="{{answer.3}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button><span>{{answer.4}}</span>
                                        <button class="btn" name ="ans_downvote" value ="{{answer.3}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button><span>{{answer.5}}</span>
                                        </form>
                                        <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>                
            </div>
        </div>
        <div id="google_translate_element"></div>
        <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4586ff"/></svg></div> -->
{%endblock quescards%}