{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/article.js"></script>
        <link rel="stylesheet" href="/static/css/article.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head> 
<body>
        <!-- The TopBar -->
        <div class="topbar sticky-top">
            <a href="article.html"><i class="fa fa-user-o" style="padding-right: 4px;"></i>Profile</a>
            <a href="article.html" class="active"></i>Articles</a>
            <a href="temp.html">Contact</a>
            <a href="#about">About</a>
        </div>

        <!--The sidebar -->
        <div class="sidebar sticky-top">
            <a href="article.html" ><i class="fa fa-envira" style="padding-right: 4px;" aria-hidden="true"></i>FARMX</a>
            <a href="article.html" class="active">Home</a>
            <a href="article.html">Feed</a>
            <a href="article.html">Farming Friends</a>
            <a href="messages.html">Messages</a>
        </div>
        {% block quescards%}
        {% endblock quescards%}
        <!-- search + cards -->
        <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4586ff"/></svg></div> -->
  </body>
  </html>